/* All */
* {
  font-family: "Poppins", sans-serif;
}
.background {
  background: #419ee0;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
  font-size: 26px;
}
.nav-link {
  font-weight: normal;
}
.navbar .navbar-nav .navbar-item .active {
  color: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-nav .navbar-item a {
  color: white;
}
.navbar .navbar-nav .navbar-item a:hover {
  color: rgb(214, 214, 214);
}
.navbar .collapse .nav-btn {
  display: inline-block;
  background: #fff;
  color: #419ee0;
  margin-left: 10px;
  padding: 4px 15px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid #419ee0;
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar .collapse .nav-btn:hover {
  color: #fff;
  background: none;
  border: 2px solid #fff;
}

/* Jumbotron */
.content {
  max-width: 1300px;
  padding: 80px;
  margin: auto;
}
.jumbotron {
  display: flex;
  background: url("../img/img1.jpg");
  height: 100vh;
  color: white;
  min-height: 500px;
  background-size: cover;
  /* background-attachment: fixed; */
}
.jumbotron .content {
  width: 100%;
  display: flex;
}
.jumbotron .content .row {
  margin-right: 0;
}
.jumbotron .home-main .text-1 {
  font-size: 50px;
  font-weight: 600;
  margin-left: -3px;
  color: #419ee0;
}
.jumbotron .home-main .text-2 {
  font-size: 21px;
  color: #787878;
  max-width: 600px;
}
.jumbotron .home-main .text-3 {
  font-size: 40px;
}
.jumbotron .home-main a {
  display: inline-block;
  background: #419ee0;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #419ee0;
  transition: all 0.3s ease;
  text-decoration: none;
}
.jumbotron .home-main a:hover {
  color: #0872bd;
  background: none;
}

/* Site */
.site {
  background-color: rgba(170, 170, 170, 0.5);
}
.site .container .row .point {
  font-weight: bold;
}
.site .container .row img {
  height: 160px;
}

/* Kata Mereka */
.km .container .row h2 {
  font-weight: 600;
}
.km .container .row .btn-km {
  display: inline-block;
  background: #419ee0;
  color: #fff;
  margin-left: 10px;
  padding: 4px 15px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid #419ee0;
  transition: all 0.3s ease;
  text-decoration: none;
}
.km .container .row .btn-km:hover {
  color: #0872bd;
  background: none;
}
.km .card .card-body p {
  font-weight: 300;
  font-style: italic;
}
.km .card .card-body img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #419ee0;
  transition: all 0.3s ease;
}
.km .card {
  border-radius: 20px;
  transition: all 0.3s ease;
}
.km .card:hover {
  background: rgba(170, 170, 170, 0.2);
}
.km .card:hover .card-body {
  transform: scale(1.05);
}

/* Footer */
footer {
  font-weight: 600;
  font-size: 18px;
  background-color: #419ee0;
  color: white;
}
.footer .container .row .link {
  color: white;
  text-decoration: none;
}
.footer .container .row .link:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Top */
.top .btn-ku {
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
.top .btn-ku:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Login */
.login .card {
  border-radius: 15px;
}
.login form {
  font-weight: 500;
  font-size: medium;
}
.login form input {
  border-radius: 10px;
  border-color: #419ee0;
}
.login form button {
  display: inline-block;
  background: #419ee0;
  color: #fff;
  margin-top: 20px;
  padding: 6px 35px;
  font-weight: 600;
  font-size: larger;
  border-radius: 6px;
  border: 2px solid #419ee0;
  transition: all 0.3s ease;
}
.login form button:hover {
  background: none;
  color: #419ee0;
}
.login .card a {
  color: #419ee0;
  font-weight: 600;
  font-size: 14px;
}
.login .card a:hover {
  color: #419ee070;
  text-decoration: none;
}
.login span a {
  font-weight: normal;
  color: #fff;
}
.login span a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

/* Register */
.register .card {
  border-radius: 15px;
}
.register form {
  font-weight: 500;
  font-size: medium;
}
.register form input {
  border-radius: 10px;
  border-color: #419ee0;
}
.register form select {
  border-radius: 10px;
  border-color: #419ee0;
}
.register form button {
  display: inline-block;
  background: #419ee0;
  color: #fff;
  margin-top: 20px;
  padding: 6px 35px;
  font-weight: 600;
  font-size: larger;
  border-radius: 6px;
  border: 2px solid #419ee0;
  transition: all 0.3s ease;
}
.register form button:hover {
  background: none;
  color: #419ee0;
}
.register .card a {
  color: #419ee0;
  font-weight: 600;
  font-size: 14px;
}
.register .card a:hover {
  color: #419ee070;
  text-decoration: none;
}
.register span a {
  font-weight: normal;
  color: #fff;
}
.register span a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
