*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #419EE0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div.main{
    margin: auto;
    width: 50%;
    padding: 10px;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: 'Poppins';
}
div.register{
    background-color: #fff;
    margin: auto;
    width: 500px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.3);
    border-style: solid;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}
form#register{
    margin: 50px;
}
label{
    font-family: 'Poppins';
    font-size: 18px;
    font-style: medium;
    margin-left: 2%;
}
input#nama{
    width: 350px;
    border: 1px;
    border-color: #419EE0;
    border-style: solid;
    border-radius: 10px;
    margin-block-start: 5px;
    margin-left: 2%;
    outline: 0;
    padding: 14px;
    background-color: #fff;
    font-family: 'Poppins'; font-size: 12px;
}
select{
    width: 35%;
    border: 1px;
    border-color: #ddd;
    border-style: solid;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}
textarea#alamat{
    width: 100%;
    border: 1px;
    border-color: #ddd;
    border-style: solid;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    resize: none;
    font-family: sans-serif;
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(0, 160, 250, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px rgba(255, 255, 255, 0.3);
    border-style: solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

